.centered-item{
    display: flex;
    justify-content: center;
}

textarea{
    max-width:50%;
   
}


/* Extra small devices (phones) */
@media (max-width: 575.98px) {
    /* Your styles here */
    textarea{
        min-width:100%;
    }
  }
  
  /* Small devices (tablets) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Your styles here */
    textarea{
        min-width:80%;
    }
  }
  
  